---
import Section from "../components/Wrapper/Section.astro";
import Layout from "../layouts/Layout.astro";
---

<Layout>
  <Section>
    <button class="btn btn-primary"> Hello </button>
  </Section>
</Layout>
