---
import "../assets/app.css";
import NavigationFooterBar from "../components/Navigation/NavigationFooterBar.astro";
import NavigationTopBar from "../components/Navigation/NavigationTopBar.astro";
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>Astro Basics</title>
  </head>
  <body>
    <NavigationTopBar />
    <slot />
    <NavigationFooterBar />
  </body>
</html>
